.wrapper {
  .carouselWrapper {
    display: flex;
    .iconWrapper {
      width: 100px;
      text-align: center;
      line-height: 316px;
      font-size: 20px;
    }
    .iconWrapper:hover {
      cursor: pointer;
      background: rgba(0,0,0,0.1);
    }
    :global {
      .ant-carousel {
        position: relative;
        text-align: center;
        width: 936px;
        height: 316px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 4px 4px 8px  rgba(0,0,0,0.5);
        overflow: hidden;
        color: #000000;
        cursor: pointer;
      }
      .ant-row-flex {
        min-width: 1200px;
      }
    }
  }
  .cardWrapper {
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
    :global {
      .ant-row {
        padding-left: 77px;
      }
    }
  }
  .typeTitle {
    width: 500px;
    margin: 20px auto;
    text-align: center;
    & > em {
      font-size: 20px;
      font-weight: 600;
      color: #4D555D;
      margin: 0 3px;
    }
  }
  .card {
    width: 216px;
    margin-bottom: 30px;
    .cardPic {
      height: 120px;
      background: green;
      border-radius: 10px;
      & > img {
        width: 216px;
        height: 120px;
        border-radius: 10px;
      }
    }
    .cardPic:hover {
      cursor: pointer;
      box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    }
    .courseContent {
      padding: 12px 8px;
      & > h3 {
        font-size: 16px;
        color: #07111B;
        line-height: 24px;
        font-weight: 400;
        font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .3s;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
      }
      & > h3:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}