
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  margin-bottom: 0;
}

a {
  color:#333;
}

a:focus {
  text-decoration: none !important;
}
a:hover {
  color: red;
}